<div class="bottom-0">
  <div class="flex px-4 sm:px-12 justify-between border-[1px] border-[#E7EBF4] py-8">
    <div class="text-[12px] sm:text-[16px]">
      <p class="font-semibold">Products</p>
      <p>Univacity</p>
      <p>Univisa</p>
      <p>Uniflight</p>
      <p>Unishop</p>
    </div>
    <div class="text-[12px] sm:text-[16px]">
      <p class="font-semibold">Resources</p>
      <p>Blog</p>
      <p>Help center</p>
      <p>Pricing</p>
    </div>
    <div class="text-[12px] sm:text-[16px]">
      <p class="font-semibold">Company</p>
      <p>About</p>
      <p>Subscribe</p>
      <p>Contact us</p>
      <p>Careers</p>
      <p>Media Kit</p>
    </div>
    <div class="text-[12px] sm:text-[16px]">
      <p class="font-semibold">Contact</p>
      <p>+234 251 881 9917</p>
      <a href="http://hello@univacity.com" target="_blank" rel="noopener noreferrer">hello&#64;univacity.com</a>
    </div>
  </div>
  <div class="flex justify-between px-4 sm:px-12 py-4 text-[16px] border-[1px] border-[#E7EBF4]">
    <div class="flex gap-3 items-center">
      <icon-usa></icon-usa>
      <p>United States</p>
      <icon-dropdown></icon-dropdown>
    </div>
    <div class="flex gap-3 sm:gap-8">
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
      <p>Linkedin</p>
    </div>
  </div>
  <div class="flex justify-between px-4 sm:px-12 py-4 text-[16px] border-[1px] border-[#E7EBF4]">
    <div>
      <p>© Univacity. All right reserved.</p>
    </div>
    <div class="flex gap-8">
      <p>Terms of Service</p>
      <p>Cookie Policy</p>
      <p>Privacy Policy</p>
    </div>
  </div>
</div>
