<div class="mt-4 flex flex-col sm:flex-row gap-8 px-4 sm:px-12">
  <!-- left section -->
  <div class="w-full sm:w-1/2">
    <div class="flex gap-3">
      <p>United States</p>
      <icon-rightarrow></icon-rightarrow>
      <p>Harvard University</p>
      <icon-rightarrow></icon-rightarrow>
      <p>Design</p>
    </div>
    <div class="flex gap-3 mt-6">
      <icon-harvard></icon-harvard>
      <p>Harvard University</p>
      <icon-verify></icon-verify>
      <p>Official</p>
    </div>
    <p class="text-[28px] font-semibold my-4">
      Experiencing Design: Deepening Your Design Thinking Practice
    </p>
    <p class="text-[18px] my-4">
      Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus
      suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id
      dui posuere blandit pel
    </p>
    <div class="flex items-center gap-2">
      <icon-deadline></icon-deadline>
      <p><b>Deadline:</b> 20th of December, 2023</p>
    </div>
    <div class="flex gap-3 items-center my-6">
      <button class="bg-[#184EC9] text-white p-2 rounded-lg">Apply now</button>
      <div class="border-[1px] border-[#C5CBDA] rounded-lg p-2 mr-6">
        <icon-fav></icon-fav>
      </div>
      <p>Share program</p>
      <div class="flex gap-2">
        <icon-fb></icon-fb>
        <icon-insta></icon-insta>
        <icon-linkedin></icon-linkedin>
        <icon-whatsapp></icon-whatsapp>
      </div>
    </div>
  </div>

  <!-- right section -->
  <div class="w-full sm:w-1/2 relative overflow-hidden">
    <img src="/hero.jpeg" alt="hero" class="rounded-2xl h-full object-cover" />
    <div class="absolute top-[45%] left-[50%]"><icon-play></icon-play></div>
  </div>
</div>
