<div class="px-4 sm:px-12 flex flex-col sm:flex-row border-[1px] border-[#E7EBF4] my-6 justify-between">
  <div class="flex gap-4 sm:gap-12 items-center py-4">
    <p>Overview</p>
  <p>Requirements</p>
  <p>Structure</p>
  <p>Fees</p></div>
  <div class="bg-[#184EC9] text-white flex flex-col items-center py-3 px-4 sm:px-12">
    <p class="text-[18px] font-semibold">Apply now!</p>
    <p class="text-[14px]">Fall semester 2023/24</p>
  </div>
</div>

<div class="px-4 sm:px-12 my-12">
  <div>
    <h1 class="text-[28px] font-semibold">Overview</h1>
    <p class="text-[16px] pt-3 text-justify">
      The program has been developed within the framework of joint education and
      training scheme and will be conducted in collaboration with Eastern
      Mediterranean University (EMU) Faculty of Medicine and Iran University of
      Medical Sciences (IUMS). The program has been envisioned upon common
      mission of providing state of art education in Medicine with utmost
      international exposure.<br />
      The MD program is 7 years where the Pre-clinical Phase (1-3 years) will be
      conducted by EMU in north Cyprus and the clinical phases (4-7 years
      including summer school terms) will be conducted by IUMS in Tehran, Iran.
      Students who complete their pre-clinical phase will be offered 50%
      scholarship during the clinical phase of their education at IUMS.
      Pre-clinical phase of medical training will take place at EMU and its
      affiliated public hospitals - including the biggest state hospital Burhan
      Nalbantoğlu State Hospital -serving all districts in north Cyprus. During
      the pre-clinical studies, the medical students will have the opportunity
      to learn Farsi as this will be crucial in patient-doctor communication
      during the clinical phase. Clinical phase of the medical training will
      take place in 17 hospitals affiliated with IUMS including specialized
      hospitals such as Shahid Fahmideh Pediatrics Hospital (est. 1952) serving
      over 87000 patients annually and houses 29 research centers such as Gastro
      intestinal and Liver Diseases Research Center. The diplomas which shall
      bear the titles of both Universities.<br />
      The joint program aims to bring together education, research and patient
      care offering the students opportunity to be part of cutting-edge medical
      research. The joint curriculum integrates basic science education and
      clinical instruction with community-based learning. Education in medical
      history, ethics, even literature informs and expands the learning
      experience. Throughout the curriculum, the emphasis is on small-group and
      seminar learning is emphasized. Students engage face-to-face, work
      shoulder-to-shoulder with leading physicians, scientists and medical
      educators.<br />
      Please follow this link for admission enquiries and for admission
      requirements to the joint Medical Doctor degree program
    </p>
  </div>
  <div class="mt-10">
    <h1 class="text-[28px] font-semibold">Requirements</h1>
    <p class="text-[16px] pt-3 text-justify">
      The program has been developed within the framework of joint education and
      training scheme and will be conducted in collaboration with Eastern
      Mediterranean University (EMU) Faculty of Medicine and Iran University of
      Medical Sciences (IUMS). The program has been envisioned upon common
      mission of providing state of art education in Medicine with utmost
      international exposure.<br />
      The MD program is 7 years where the Pre-clinical Phase (1-3 years) will be
      conducted by EMU in north Cyprus and the clinical phases (4-7 years
      including summer school terms) will be conducted by IUMS in Tehran, Iran.
      Students who complete their pre-clinical phase will be offered 50%
      scholarship during the clinical phase of their education at IUMS.
      Pre-clinical phase of medical training will
    </p>
  </div>
  <div class="mt-10">
    <h1 class="text-[28px] font-semibold">Structure</h1>
    <p class="text-[16px] pt-3 text-justify">
      The program has been developed within the framework of joint education and
      training scheme and will be conducted in collaboration with Eastern
      Mediterranean University (EMU) Faculty of Medicine and Iran University of
      Medical Sciences (IUMS). The program has been envisioned upon common
      mission of providing state of art education in Medicine with utmost
      international exposure.<br />
      The MD program is 7 years where the Pre-clinical Phase (1-3 years) will be
      conducted by EMU in north Cyprus and the clinical phases (4-7 years
      including summer school terms) will be conducted by IUMS in Tehran, Iran.
      Students who complete their pre-clinical phase will be offered 50%
      scholarship during the clinical phase of their education at IUMS.
      Pre-clinical phase of medical training will
    </p>
  </div>
  <div class="mt-10">
    <h1 class="text-[28px] font-semibold">Fees</h1>
    <p class="text-[16px] pt-3 text-justify">
      The program has been developed within the framework of joint education and
      training scheme and will be conducted in collaboration with Eastern
      Mediterranean University (EMU) Faculty of Medicine and Iran University of
      Medical Sciences (IUMS).
    </p>
    <div class="flex my-7 justify-center">
      <div
        class="text-[14px] flex flex-col items-center border-[#E7EBF4] border-[1px] py-6 px-4 w-[156px] rounded-l-2xl"
      >
        <icon-cap></icon-cap>
        <p class="text-[#777C88] py-3">Tuition fee</p>
        <p>$15,000 per month</p>
      </div>
      <div
        class="text-[14px] flex flex-col items-center border-[#E7EBF4] border-[1px] py-6 px-4 w-[156px]"
      >
        <icon-send></icon-send>
        <p class="text-[#777C88] py-3">Application fee</p>
        <p>$2,000</p>
      </div>
      <div
        class="text-[14px] flex flex-col items-center border-[#E7EBF4] border-[1px] py-6 px-4 w-[156px]"
      >
        <icon-mark></icon-mark>
        <p class="text-[#777C88] py-3">Acceptance fee</p>
        <p>$3,250</p>
      </div>
      <div
        class="text-[14px] flex flex-col items-center border-[#E7EBF4] border-[1px] py-6 px-4 w-[156px]"
      >
        <icon-home></icon-home>
        <p class="text-[#777C88] py-3">Housing fee</p>
        <p>$100.00 - $500.00 per month</p>
      </div>
      <div
        class="text-[14px] flex flex-col items-center border-[#E7EBF4] border-[1px] py-6 px-4 w-[156px] rounded-r-2xl"
      >
        <icon-chair></icon-chair>
        <p class="text-[#777C88] py-3">Living fee</p>
        <p>$100.00 - $500.00 per month</p>
      </div>
    </div>
  </div>
  <div class="mt-10">
    <h1 class="text-[28px] font-semibold">Other Key Information</h1>
    <p class="text-[16px] pt-3 text-justify">
      Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper
      sit amet ligula. Vivamus suscipit tortor eget felis porttitor volutpat.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper
      sit amet ligula. Pellentesque in ipsum id orci porta dapibus.
    </p>
    <div class="mt-6 flex gap-5">
    <button class="bg-[#184EC9] text-white font-semibold rounded-xl px-2 py-1">Action button</button>
  <a href="http://" target="_blank" rel="noopener noreferrer">Program website</a>
  </div>
  </div>
  <div class="flex justify-between w-full sm:w-[75%] my-8 ">
    <div class="text-[12px] sm:text-[16px]">
      <p>Degree</p>
      <p>Country</p>
      <p>Level</p>
      <p>Study language(s)</p>
    </div>
    <div class="text-[12px] sm:text-[16px]">
      <p>Bachelor's Degree</p>
      <p>United States</p>
      <p>Undergraduate</p>
      <p>English</p>
    </div>
    <div class="text-[12px] sm:text-[16px]">
      <p>Campuses</p>
      <p>Duration</p>
      <p>Attendance</p>
      <p>Type</p>
    </div>
    <div class="text-[12px] sm:text-[16px]">
      <p>London, Lagos, Abuja</p>
      <p>5 years</p>
      <p>Hybrid</p>
      <p>Full Time</p>
    </div>
  </div>
</div>
